{% extends 'base.html.twig' %}



{% block body %}
    <h1>liste de demandes</h1>
   <div >
    <form action="{{path('filterbyid')}}" method="post">
      {{ form_widget(form) }} 
     </form>
   </div> 
 <br>
    <div >
    <form action="{{path('filterbystatut')}}" method="post">
      {{ form_widget(form2) }} 
     </form>
   </div> 
   <br>
    <div >
    <form action="{{path('filterbydate')}}" method="post">
      {{ form_widget(form3) }} 
     </form>
   </div> 
    <table class="table" id="datatablesSimple">
        <thead>
            <tr>
                
                <th>Titre</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                
                <td>{{ ticket.titre }}</td>
                <td>{{ ticket.nom }}</td>
                <td>{{ ticket.description }}</td>
                <td>{{ ticket.statut }}</td>
                <td>{{ ticket.date ? ticket.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('ticket_show', {'id': ticket.id}) }}"><button>show</button></a>
                    <a href="{{ path('ticket_edit', {'id': ticket.id}) }}"><button>edit</button></a>
                    <a href="{{ path('ticket_delete', {'id': ticket.id}) }}"><button>delete</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Il n y a pas des demandes a afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ticket_new') }}"> <button class="btn btn-primary">Creér une nouvelle demande</button></a>
{% endblock %}
{% block title%} Liste de demandes {% endblock %}
{% block title1%} Liste de demandes {% endblock %}
{% block title2%} Liste de demandes {% endblock %}
