{% extends 'base.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}
    <h1>Offre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offre.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offre.description }}</td>
            </tr>
            <tr>
                <th>Cout</th>
                <td>{{ offre.cout }}</td>
            </tr>
            <tr>
                <th>Qantite</th>
                <td>{{ offre.qantite }}</td>
            </tr>
            <tr>
                <th>Familledeproduit</th>
                <td>{{ offre.familledeproduit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('offre_index') }}">back to list</a>

    <a href="{{ path('offre_edit', {'id': offre.id}) }}">edit</a>

    {{ include('offre/_delete_form.html.twig') }}
{% endblock %}
