{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>Paiement</th>
                <td>{{ facture.paiement }}</td>
            </tr>
            <tr>
                <th>Montanttotale</th>
                <td>{{ facture.montanttotale }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ facture.date ? facture.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ facture.statut }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('facture_index') }}"> <button class="btn btn-primary">retour</button></a>

    <a href="{{ path('facture_edit', {'id': facture.id}) }}"><button class="btn btn-primary">Modifier</button></a>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
